#loading_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5C95B0;
    display: flex;
    font-family: "Poppins", "M PLUS 1p", sans-serif;
    font-weight: 900;
    color: #ECCA66;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999; /* 最前面に表示 */
}

.loader {
    --loader-color: #0071e2; /* ローディングバーの色 */
    width: 230px;
    height: 4px;
    border-radius: 30px;
    background-color: transparent; /* 背景を透明にする */
    position: relative;
    overflow: hidden; /* アニメーションがはみ出さないように */
}

.loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--loader-color);
    transform-origin: left; /* アニメーションの起点を左端に */
    animation: moving 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite; /* アニメーションを調整 */
}

@keyframes moving {
    0% {
        transform: scaleX(0); /* 初期状態は非表示 */
    }
    50% {
        transform: scaleX(1); /* 中間で完全に表示 */
    }
    100% {
        transform: scaleX(0); /* 最後は非表示に戻る */
    }
}