body {
    width: 100vw;
    height: 100vh;  
    margin: 0;      
    overflow-x: hidden; 
    font-family: "Poppins", "M PLUS 1p", sans-serif;
    
    background-color: #5C95B0;

}

a{
    padding: 8px 15px;
    /* こだわりポイント */
    text-decoration: none;
    color: inherit; 
}

@media screen and (max-width: 768px) {
    a{
        padding: 4px 8px;
    }
}

header{
    display: flex;
    flex-direction: row;
    justify-content:right;
    
}

.header_container{
    width: 47%;
    height: 126.67px;
    background-color: "";

    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content:right;
    align-items: center;
    z-index: 1000;
}


@media screen and (max-width: 768px) {
    .header_container {
        width: 0%;
        height: 100%; 
       
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-end; 
    }
}

.sns_tag{
    width: 248px;
    height: 80px;

    margin-right: 20px;
    padding: 0px 34px;
    background-color: #337A9A;
    
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

@media screen and (max-width: 768px) {
    .sns_tag {
        width: 50px;
        height: 230px; 
        margin-bottom: 35px;

        padding: 25px 20px;
       
        flex-direction: column;
        
        align-items: flex-end; 
    }
}

.sns_list_header{
    width: 180px;
    height: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center   
}

@media screen and (max-width: 768px) {
    .sns_list_header{

        width: 23px;
        height: 200px;
        flex-direction: column;
        padding-left:13px;
    }
}

.sns_icon_header{
    width: 20px;
    height: 20px;

    z-index: 1;
    color: white;
    font-size: 1.5em;
    
    
}



.header_btn{
    width: 80px;
    height: 80px;
    margin-right: 30px;

    background-color: #337A9A;
    
    border-radius: 10px;
}

.hamburger {
    width: 80px;
    height: 80px;
    margin-right: 27px;

    
    appearance: none;
    
    background-color: #337A9A;

    border-radius: 10px;
    cursor: pointer;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none; 
}
  
@media screen and (max-width: 768px) {
    .hamburger{
        margin-top: 25px;
        margin-right: 20px;
    }
}

.hamburger span,
.hamburger span::before,
.hamburger span::after {
    display: block;
    content: '';
    width: 40px;
    height: 4px;
    background-color: #fff;
    transition: all 0.5s;
    
}
  
.hamburger span {
    position: relative; /* 修正: 相対配置 */     
}
  
.hamburger span::before {
    position: absolute; /* 追加: 絶対配置 */
    top: -10px; /* 修正: 上の棒の位置を調整 */
}
  
.hamburger span::after {
    position: absolute; /* 追加: 絶対配置 */
    bottom: -10px; /* 修正: 下の棒の位置を調整 */
}

.nav {
    position: fixed;
    width: 100%;
    height: 100%;
    

    background-color: #5C95B0;
 
    transition: all 0.2s;
    border-top: #fff 1px solid;
    z-index: 10;

    background-image: url(../img/background_img/東風林火山.png);
    background-size: contain; /* 画像を要素に合わせて伸縮 */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像を繰り返さない */  
    background-attachment: fixed;
}

.nav__list{
    width: 90%;
    height: 100%;
    background-color: "";

    margin-left: 12%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}

@media screen and (max-width: 768px) {
    .nav__list{
       margin: 0px 20px;
    }
}

.nav__list_mini{
    width: 100%;    
}

.number{
    font-size: 10px;
    margin-right: 170px;
    color: #fff;
}

.numbers{
    font-size: 10px;
    margin-right: 170px;
    color: #fff;
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .number{
       margin: 0px;
    }
}

.nav__item a {
    font-size: clamp(36px, 4.143vw, 48px);
    font-weight: 900;

    display: inline-block;
    color: #ECCA66;
    text-decoration: none;
    transition: transform 0.3s ease; 
}

.nav__items a {
    font-size: clamp(36px, 4.143vw, 48px);
    font-weight: 900;

    display: inline-block;
    color: #ECCA66;
    text-decoration: none;
    transition: transform 0.3s ease; 
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .nav__item a{
       font-size: 21px;
    }
}

.nav__item a:hover {
    transform: translateY(-8px); 
}

.hamburger.open span {
    background-color: transparent;
}

.hamburger.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.hamburger.open span::after {
    transform: rotate(-45deg);
    bottom: 0;
}

.nav {
    /* 先ほどのCSSに追加 */
    right: -100%;  /* 画面右端のさらに外へ配置 */
}

.nav.open {
   right: 0;      /* クリックされたら、画面内にスライドイン */
}
main{
    padding-top: 126.67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    
}
.contact_title{

    width: 100%;
    height: 78px;
    font-size: 52px;
    margin-left: 200px;

    color: #ECCA66;
    display: flex;
    justify-content: left;

}

@media screen and (max-width: 768px) {
    .contact_title{
        margin: 0px;
        padding-left: 20px;
        padding-bottom: 85px;
    }
}

.contact_container{
    width: 60vw;
    height: 35vh;
    margin-top: 110px;
    background-color: #72ACC2;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

@media screen and (max-width: 768px) {
    .contact_container{
        width: 80%;
        padding: 20px;
    }
}

.contact_lead{
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .contact_lead{
        font-size: 16px;
    }
}

.contact_text{
    color: white;
    font-size: 20px;

    padding: 20px 0px;
}

@media screen and (max-width: 768px) {
    .contact_text{
        font-size: 15px;
    }
}
.contact_text > a:hover{
    color: #ECCA66;
}

.copyright_box{
    width: 100vw;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.copyright{
    font-size: 15px;
    color: white;
}